@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter",
    sans-serif;
  line-height: 1.4;
  font-size: 16px;
  @apply bg-background;
}

@layer components {
  .container {
    @apply w-full max-w-[1200px] mx-auto;
  }

  .page-wraper {
    @apply md:p-4 p-2;
  }
}

@layer utilities {
  .header {
    width: calc(100% - 28px);

    @media (max-width:992px) {
      width: calc(100% - 16px);
    }
  }

  .gradient {
    -webkit-mask: linear-gradient(90deg,
        transparent,
        white 20%,
        white 80%,
        transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }

  .section {
    @apply w-full mx-auto py-[40px] sm:py-16;
  }

  .title {
    box-shadow: inset 0 0 0 1px rgba(51, 41, 36, .08);
  }

  .best-choice {
    box-shadow: 0 0 0 1px #eae239;
  }
}